/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/selenium
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env.sandbox
rr
.rr.yaml
resources/coverage
tests/temp
volume
.phpunit.cache
.vapor/
.php-cs-fixer.cache
rr
.rr.yaml
.DS_Store
.php-cs-fixer.cache
